#SlideProductos{
    width: 100%;
    height: 100%;
}

#SlideProductos .swiper-slide{
    display: flex;
    justify-content: center;
}

#SlideProductos .swiper-slide-active{
    transform: scale(1.5);
}

.swiper-button-prev,
.swiper-button-next {
  color: #FCC013;
}

.swiper-pagination-bullet{
    color:#fff;
    background: #fff;
    opacity: 0.5;
}

.swiper-pagination-bullet-active{
    background: #FCC013;
    opacity: 1;
}